@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Prueba de Progreso 1</h1>
    
</div>
<img src="~/css/meme.jpg" style="width:100px; height:100px;" alt="Meme">
<button class="btn btn-info" onclick="mostrarAlerta()">Mostrar alerta</button>

<script>
    function mostrarAlerta() {
        alert("Mi nombre es Sebastian y mi hobbie es escuchar musica.");
    }
</script>

